.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.contactSection {
  width: 30%;
  padding: 10px;
  border-right: 1px solid gray;
  overflow-y: auto;
  background: #2e2c2c;
}

.contactHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.contactList {
  margin-top: 10px;
}

.contactBox {
  background: #a71313;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 4px;
}

.selectedContact {
  background: rgb(200, 120, 231);
}

.online {
  color: green;
  font-size: small;
}

.offline {
  color: gray;
  font-size: small;
}

.chatSection {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  background-color:  #2e2c2c;
}

.maximized {
  width: 100% !important;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nametext{color: whitesmoke;}

.typingText {
  font-style: italic;
  color: #666;
  margin: 5px 0;
  font-size: smaller;
}

.chatBox {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid gray;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.messageBubble {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px 0;
  max-width: 50%;
  word-wrap: break-word;
  border-radius: 12px;
}

.sent {
  align-self: flex-end;
  background-color: #d35b75;
  color: white;
  text-align: left;
  border-bottom-right-radius: 0;
  font-size: small;
}

.received {
  align-self: flex-start;
  background-color: #d35b75;
  color: white;
  text-align: left;
  border-bottom-left-radius: 0;
  font-size: small;
}

.inputRow {
  display: flex;
  gap: 10px;
}

.inputBox {
  flex-grow: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: black;
  color: white;
}

.messageMeta {
  font-size: 10px;
  color: #e0e0e0;
  margin-top: 2px;
  text-align: right;
}

.inputSection {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.button {
  background-color: #942727; /* deep maroon */
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 999px; /* fully rounded */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

